<template>
  <div class='footer'>
    <div class='ui text container'>
      <h4 class="ui grey inverted header">
        @2018, <a href='//t.me/unfeex'>@unfeex</a>
      </h4>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .footer {
    padding: 2em 0;
    text-align: center;
  }
</style>
