<template>
  <div class='ui inverted vertical masthead center aligned segment'>
    <div class='ui text container'>
      <div class='logo'></div>
      <h1 class='ui inverted header'>{{ title }}</h1>
      <h2 class='ui inverted header'>{{ descr }}</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Header',
  data: function() {
    return {
      title: 'Kevin',
      descr: 'ICO smart-contract builder'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .logo {
    width: 100px;
    height: 100px;
    margin: 3em auto 0 auto;
    background: url(logo.svg) no-repeat center center;
    background-size: 100px;
  }
  .masthead.segment {
    padding: 2em 0em;
  }
  .masthead h1.ui.header {
    margin-top: 0;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
  @media only screen and (max-width: 700px) {
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 0.5em;
    }
    .masthead h2 {
      margin-top: 0.2em;
      font-size: 1.5em;
    }
  }
</style>
