<template>
  <div id="app">
    <Header />
    <ContractForm />
    <Footer />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import ContractForm from './components/ContractForm.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components: {
    Header,
    ContractForm,
    Footer
  }
}
</script>

<style>
  body,
  #app {
    background: #1b1c1d;
    min-height: 100%;
  }
</style>
